---
export interface Props {
  id?: string
  className?: string
}

const { id, className = '' } = Astro.props
---

<section id={id} class={`py-16 md:py-24 ${className}`}>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <slot />
  </div>
</section>
